# variables

In [2]:
a = 12
fruit = 2
score = 89
class_students = 45
b = 10
_numbers = 17

In [3]:
age = 21
name = "Sangeeta"
salary = 35000.50
is_employee = True
department = "Sales"
bonus_amount = 5000
working_hours = 8
company_name = "TechCorp"
employee_id = 1024
rating = 4.5

# data type

In [4]:
a = 1
type(a)

int

In [11]:
s = 2.5
type(s)

float

In [12]:
name = "sangeeta"
type(name)

str

In [19]:
is_raining = True
print('is_raining')

is_raining

In [20]:
a = True
type(a)

bool

In [26]:
d = 3+3j
type(d)

complex

In [27]:
a = 12
float(a)

12.0

In [29]:
"sangeeta".upper()

'SANGEETA'

# list

In [5]:
#list in pyton 
marks=[34,45,68,98]
print(marks)
print(type(marks))
print(marks[2])
print(len(marks))
print(marks[0])
marks[0] = "pass"
print(marks)
#list slicing
print(marks[0:3])

[34, 45, 68, 98]
<class 'list'>
68
4
34
['pass', 45, 68, 98]
['pass', 45, 68]

# list methods

In [6]:
#list methods
name=["sihi","sangeeta","geeta","priya"]
name.append("diya")
print(name)
name.sort()
print(name)
name.reverse()
print(name)
name.sort(reverse = True)
print(name)
name.insert(4,"shree")
print(name)
name.pop(2)
print(name)
list=[3,2,5]
list.sort()
print(list)

['sihi', 'sangeeta', 'geeta', 'priya', 'diya']
['diya', 'geeta', 'priya', 'sangeeta', 'sihi']
['sihi', 'sangeeta', 'priya', 'geeta', 'diya']
['sihi', 'sangeeta', 'priya', 'geeta', 'diya']
['sihi', 'sangeeta', 'priya', 'geeta', 'shree', 'diya']
['sihi', 'sangeeta', 'geeta', 'shree', 'diya']
[2, 3, 5]

# OPERATORS

In [7]:
a = 5
b = 2
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

7
3
10
2.5
2
1
25

In [39]:
#comparision operator
a = 10
b = 4
print(a == b)
print(a != b) 
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
True
False
True
False

In [8]:
#logical operator
x = True
y = False
print(x and y)
print (x or y)
print(not x)
print(not y)

False
True
False
True

# string method

In [9]:
text = "HELLO"
print(text.lower())   # hello

text1 = "sangeeta"
print(text1.upper())

stud = "i am engineering student"
print(stud.count('e'))

hello
SANGEETA
4

In [2]:
stud = "i am engineering student"
print(stud.count('e'))

4

# assignment operator

In [14]:
a = 4
a += 4
print(a)

a -= 4
print(a)

a *= 4
print(a)

a %= 4
print(a)

8
4
16
0

# operator precedence

In [18]:
result = 10 + 2 * 3
print(result)

result=2**3+4
print(result)

sum=(2+3)**2
print(sum)

total=6-3*4
print(total)

16
12
25
-6

# conditional statements

# if statement

In [52]:
x = 10
if x>=4:
    print("x is greater than 5")

age = 18

if age >= 18:
    print("You are eligible to vote")

x is greater than 5
You are eligible to vote

# else statement

In [45]:
x = 3
if x>5:
    print("x is greater than 5")
else:
    print("x is lesser than 5")

age = 21
if age>18:
    print("your are eligible to vote")
else:
    print("your are not eligible to vote")

x is lesser than 5
your are eligible to vote

# if elif else statement

In [43]:
x = 115
if x>10:
    print("x is greater than 10")
elif x>5:
    print("x is greater than 5 but not more than 10")
elif x==5:
    print("x is exactly 5")
else:
    print("x is less than 5")

marks = 75
if marks>=90:
    print("grade A")
elif marks>=60:
    print("grade B")
else:
    print("grade C")

x is greater than 10
grade B

# match statement

In [58]:
def http_status(code):
    match code:
        case 200:
            return "OK"
        case 400:
            return "YES"
        case 404:
            return "not found"
        case 500:
            return "internal server error"
        case _:
            return "unknown status"
print(http_status(500))
print(http_status(1000))

a = 5
b = 4
match a + b:
    case 9:
        print("sum is 9")
    case 10:
        print(" sum is not correct")
    case _:
        print("not found")

x = 8
y = 4
operator = "*"

match operator:
    case "+":
        print(x + y)
    case "-":
        print(x - y)
    case "*":
        print(x * y)
    case "/":
        print(x / y)
    case _:
        print("Invalid operator")

def http_status(code):
    match code // 100:
        case 2:
            return "OK"
        case 4:
            return "Client Error"
        case 5:
            return "Internal Server Error"
        case _:
            return "Unknown status"

print(http_status(500))
print(http_status(1000))

internal server error
unknown status
sum is 9
32
Internal Server Error
Unknown status

# format output

In [41]:
name = "Alice"
age = 25
print("my name is {} and I am {} year old.".format(name,age))

my name is Alice and I am 25 year old.

In [1]:
n="chandana","seema","keerti"
print(type(n))

<class 'tuple'>

In [1]:
#loops
count = 1
while count <= 5:
    print("hello")
    count += 1
print(count)

i = 5 
while i >= 1:
    print(i)
    i -= 1
print("loop ended")

hello
hello
hello
hello
hello
6
5
4
3
2
1
loop ended

# practice

In [2]:
#print number 1 to 100
i = 1
while i <= 100:
    print(i,end=" ")
    i += 1

print("loop ended with 100")

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100 loop ended with 100

In [3]:
i = 100
while i >= 1:
    print(i,end=" ")
    i -= 1

print("loop ended with 1")

100 99 98 97 96 95 94 93 92 91 90 89 88 87 86 85 84 83 82 81 80 79 78 77 76 75 74 73 72 71 70 69 68 67 66 65 64 63 62 61 60 59 58 57 56 55 54 53 52 51 50 49 48 47 46 45 44 43 42 41 40 39 38 37 36 35 34 33 32 31 30 29 28 27 26 25 24 23 22 21 20 19 18 17 16 15 14 13 12 11 10 9 8 7 6 5 4 3 2 1 loop ended with 1

In [ ]:
#print the multiplication table of number n
n=int(input("enter a number :"))
for i in range(1,11):
    print(n,"x",i ,"=", n*i)